<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <switches>
      <add name="TraceLevel" value="0" />
    </switches>
  </system.diagnostics>

  <appSettings>
    <add key="ConnectionString" value="DATA SOURCE=gunichevvm;INITIAL CATALOG=UHOTELDB;USER ID=SCOTT;PASSWORD=TIGER"/>
    <add key="ConnectionStringBadAddr" value="DATA SOURCE=1.1.1.1;INITIAL CATALOG=UHOTELDB;USER ID=SCOTT;PASSWORD=TIGER;TIMEOUT=5"/>
    <add key="ConnectionStringBadLogin" value="DATA SOURCE=gunichevvm;INITIAL CATALOG=UHOTELDB;USER ID=SCOTT1;PASSWORD=TIGER"/>
    <add key="ConnectionStringBadPassword" value="DATA SOURCE=gunichevvm;INITIAL CATALOG=UHOTELDB;USER ID=SCOTT;PASSWORD=TIGER1"/>
    <add key="ConnectionStringBadDbName" value="DATA SOURCE=gunichevvm;INITIAL CATALOG=UHOTELDB111;USER ID=SCOTT;PASSWORD=TIGER"/>
    <add key="LogFileName" value="log.txt"/>
  </appSettings>
</configuration>
