<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="DATA SOURCE=r55s;INITIAL CATALOG=UHOTELDB;USER ID=SCOTT;PASSWORD=TIGER"/>
		<add key="ConnectionStringBadAddr" value="DATA SOURCE=1.1.1.1;INITIAL CATALOG=UHOTELDB;USER ID=SCOTT;PASSWORD=TIGER;TIMEOUT=5"/>
	</appSettings>
</configuration>
