<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MaxDB.Test.Properties.Settings.XPRESSHRConnectionString" connectionString="Data Source=localhost;Initial Catalog=XPRESSHR;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <add name="TraceLevel" value="0"/>
    </switches>
  </system.diagnostics>
  <appSettings>
    <add key="ConnectionString" value="DATA SOURCE=192.168.72.116;INITIAL CATALOG=HOTELDB;USER ID=scott;PASSWORD=tiger;POOLING=TRUE;MIN POOL SIZE=5"/>
    <add key="ConnectionStringSsl" value="DATA SOURCE=192.168.22.220:443;ENCRYPT=1;SSL CERTIFICATE=Valery;INITIAL CATALOG=UHOTELDB;USER ID=scott;PASSWORD=tiger;TIMEOUT=30;POOLING=TRUE"/>
    <add key="ConnectionStringBadAddr" value="DATA SOURCE=1.1.1.1;INITIAL CATALOG=UHOTELDB;USER ID=scott;PASSWORD=tiger;TIMEOUT=5;POOLING=TRUE"/>
    <add key="ConnectionStringBadLogin" value="DATA SOURCE=192.168.72.116;INITIAL CATALOG=HOTELDB;USER ID=scott1;PASSWORD=tiger;POOLING=TRUE"/>
    <add key="ConnectionStringBadPassword" value="DATA SOURCE=192.168.72.116;INITIAL CATALOG=HOTELDB;USER ID=scott;PASSWORD=tiger1;POOLING=TRUE"/>
    <add key="ConnectionStringBadDbName" value="DATA SOURCE=192.168.72.116;INITIAL CATALOG=HOTELDB111;USER ID=scott;PASSWORD=tiger;POOLING=TRUE"/>
    <add key="LogFileName" value="log.txt"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
