<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="DATA SOURCE=localhost;INITIAL CATALOG=MAXDB;USER ID=scott;PASSWORD=tiger;POOLING=TRUE;MIN POOL SIZE=5"/>
    <add key="ConnectionStringSsl" value="DATA SOURCE=localhost:443;ENCRYPT=1;SSL CERTIFICATE=Valery;INITIAL CATALOG=MAXDB;USER ID=scott;PASSWORD=tiger;TIMEOUT=30;POOLING=TRUE"/>
    <add key="ConnectionStringBadAddr" value="DATA SOURCE=1.1.1.1;INITIAL CATALOG=MAXDB;USER ID=scott;PASSWORD=tiger;TIMEOUT=5;POOLING=TRUE"/>
    <add key="ConnectionStringBadLogin" value="DATA SOURCE=localhost;INITIAL CATALOG=MAXDB;USER ID=scott1;PASSWORD=tiger;POOLING=TRUE"/>
    <add key="ConnectionStringBadPassword" value="DATA SOURCE=localhost;INITIAL CATALOG=MAXDB;USER ID=scott;PASSWORD=tiger1;POOLING=TRUE"/>
    <add key="ConnectionStringBadDbName" value="DATA SOURCE=localhost;INITIAL CATALOG=MAXDB111;USER ID=scott;PASSWORD=tiger;POOLING=TRUE"/>
    <add key="LogFileName" value="log.txt"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>
